In [14]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

In [30]:
DATA_PATH = "Melbourne_housing_FULL.csv"
FEATURE_LABELS = ['Rooms', 'Distance','Bathroom',
                   'Car','BuildingArea', 'YearBuilt']
RANDOM_STATE = 1

In [31]:
data = pd.read_csv(DATA_PATH)
data = data.dropna()
print(data.describe())

             Rooms         Price     Distance     Postcode     Bedroom2  \
count  8887.000000  8.887000e+03  8887.000000  8887.000000  8887.000000
mean      3.098909  1.092902e+06    11.199887  3111.662653     3.078204
std       0.963786  6.793819e+05     6.813402   112.614268     0.966269
min       1.000000  1.310000e+05     0.000000  3000.000000     0.000000
25%       2.000000  6.410000e+05     6.400000  3044.000000     2.000000
50%       3.000000  9.000000e+05    10.200000  3084.000000     3.000000
75%       4.000000  1.345000e+06    13.900000  3150.000000     4.000000
max      12.000000  9.000000e+06    47.400000  3977.000000    12.000000

          Bathroom          Car      Landsize  BuildingArea    YearBuilt  \
count  8887.000000  8887.000000   8887.000000   8887.000000  8887.000000
mean      1.646450     1.692247    523.480365    149.309477  1965.753348
std       0.721611     0.975464   1061.324228     87.925580    37.040876
min       1.000000     0.000000      0.000000      0.000000  1196.000000
25%       1.000000     1.000000    212.000000    100.000000  1945.000000
50%       2.000000     2.000000    478.000000    132.000000  1970.000000
75%       2.000000     2.000000    652.000000    180.000000  2000.000000
max       9.000000    10.000000  42800.000000   3112.000000  2019.000000

         Lattitude   Longtitude  Propertycount
count  8887.000000  8887.000000    8887.000000
mean    -37.804501   144.991393    7475.940137
std       0.090549     0.118919    4375.024364
min     -38.174360   144.423790     249.000000
25%     -37.858560   144.920000    4382.500000
50%     -37.798700   144.998500    6567.000000
75%     -37.748945   145.064560   10331.000000
max     -37.407200   145.526350   21650.000000

In [32]:
x = data[FEATURE_LABELS]
y = data.Price
x_train, x_val, y_train, y_val = train_test_split(x,y,random_state=RANDOM_STATE)

In [33]:
x.describe()

,Rooms,Distance,Bathroom,Car,BuildingArea,YearBuilt
count,8887.000000,8887.000000,8887.000000,8887.000000,8887.000000,8887.000000
mean,3.098909,11.199887,1.646450,1.692247,149.309477,1965.753348
std,0.963786,6.813402,0.721611,0.975464,87.925580,37.040876
min,1.000000,0.000000,1.000000,0.000000,0.000000,1196.000000
25%,2.000000,6.400000,1.000000,1.000000,100.000000,1945.000000
50%,3.000000,10.200000,2.000000,2.000000,132.000000,1970.000000
75%,4.000000,13.900000,2.000000,2.000000,180.000000,2000.000000
max,12.000000,47.400000,9.000000,10.000000,3112.000000,2019.000000

In [34]:
model = DecisionTreeRegressor(random_state=RANDOM_STATE)

model.fit(x_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=1, splitter='best')

In [35]:
prediction = model.predict(x_val)
mean_absolute_error(y_val,prediction)

333096.8190819082