In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("titanic.csv",index_col="PassengerId")

In [4]:
data.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [5]:
def write_answer(file_name,text):
    with open(file_name+".txt","w") as f:
        f.write(text)

In [6]:
male_c = 0
female_c = 0
for val in data.Sex:
    if val == "male":
        male_c += 1
    elif val == "female":
        female_c += 1
answ = str(male_c) + " " + str(female_c)
write_answer("1",answ)

In [7]:
data.Sex.value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [8]:
percentage = round(sum(data.Survived)/data.Survived.count()*100,2)
write_answer("2",str(percentage))

In [9]:
pclass_c = 0
for i in data.Pclass:
    if i == 1:
        pclass_c += 1
percentage = round(pclass_c / data.Pclass.count() * 100,2)
write_answer("3",str(percentage))

In [10]:
def find_median(itterable):
    data = sorted(itterable)
    return data[len(data)//2]

In [11]:
ages = data.Age.dropna()
median = find_median(ages)
mean_age = round(sum(ages)/ages.count(),2)

answ = str(mean_age) + " " + str(median)
write_answer("4",answ)

In [12]:
def average(x):
    return sum(x)/len(x)

In [13]:
import numpy as np

def dispersion(x, y = []):
    if (y != []) and len(x) == len(y):
        return average(np.array(x) * np.array(y)) - average(x)*average(y)
    else:
        x = np.array(x)
        return average(x * x) - average(x) ** 2

In [14]:
sib_sp = np.array(data.SibSp)
parch = np.array(data.Parch)

xy = dispersion(sib_sp,parch)
x = dispersion(sib_sp)
y = dispersion(parch)

r = xy /((x*y) ** 0.5)

print(r)
text = str(round(r,2))
write_answer("5",text)

0.41483769862015607

c:\users\kol9l\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.
  after removing the cwd from sys.path.

In [15]:
names = data.Name
print(names[:100])

PassengerId
1                                Braund, Mr. Owen Harris
2      Cumings, Mrs. John Bradley (Florence Briggs Th...
3                                 Heikkinen, Miss. Laina
4           Futrelle, Mrs. Jacques Heath (Lily May Peel)
5                               Allen, Mr. William Henry
6                                       Moran, Mr. James
7                                McCarthy, Mr. Timothy J
8                         Palsson, Master. Gosta Leonard
9      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
10                   Nasser, Mrs. Nicholas (Adele Achem)
11                       Sandstrom, Miss. Marguerite Rut
12                              Bonnell, Miss. Elizabeth
13                        Saundercock, Mr. William Henry
14                           Andersson, Mr. Anders Johan
15                  Vestrom, Miss. Hulda Amanda Adolfina
16                      Hewlett, Mrs. (Mary D Kingcome)
17                                  Rice, Master. Eugene
18                          Williams, Mr. Charles Eugene
19     Vander Planke, Mrs. Julius (Emelia Maria Vande...
20                               Masselmani, Mrs. Fatima
21                                  Fynney, Mr. Joseph J
22                                 Beesley, Mr. Lawrence
23                           McGowan, Miss. Anna "Annie"
24                          Sloper, Mr. William Thompson
25                         Palsson, Miss. Torborg Danira
26     Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
27                               Emir, Mr. Farred Chehab
28                        Fortune, Mr. Charles Alexander
29                         O'Dwyer, Miss. Ellen "Nellie"
30                                   Todoroff, Mr. Lalio
                             ...
71                            Jenkin, Mr. Stephen Curnow
72                            Goodwin, Miss. Lillian Amy
73                                  Hood, Mr. Ambrose Jr
74                           Chronopoulos, Mr. Apostolos
75                                         Bing, Mr. Lee
76                               Moen, Mr. Sigurd Hansen
77                                     Staneff, Mr. Ivan
78                              Moutal, Mr. Rahamin Haim
79                         Caldwell, Master. Alden Gates
80                              Dowdell, Miss. Elizabeth
81                                  Waelens, Mr. Achille
82                           Sheerlinck, Mr. Jan Baptist
83                        McDermott, Miss. Brigdet Delia
84                               Carrau, Mr. Francisco M
85                                   Ilett, Miss. Bertha
86     Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...
87                                Ford, Mr. William Neal
88                         Slocovski, Mr. Selman Francis
89                            Fortune, Miss. Mabel Helen
90                                Celotti, Mr. Francesco
91                                  Christmann, Mr. Emil
92                            Andreasson, Mr. Paul Edvin
93                           Chaffee, Mr. Herbert Fuller
94                               Dean, Mr. Bertram Frank
95                                     Coxon, Mr. Daniel
96                           Shorney, Mr. Charles Joseph
97                             Goldschmidt, Mr. George B
98                       Greenfield, Mr. William Bertram
99                  Doling, Mrs. John T (Ada Julia Bone)
100                                    Kantor, Mr. Sinai
Name: Name, Length: 100, dtype: object

In [43]:
prefixes = ["Miss.","Mrs."]
strs = list(names)

for i, name in enumerate(strs):
    s = name.find("(")
    e = name.find(")")
    if s != -1:
        strs[i] = name[:s-1] + name[e+1:]
print(strs[370:375])
w_names = []
for name in strs:
    for prefix in prefixes:
        s = extract(name,prefix)
        if s != "":
            w_names.append(s)
            break
w_names = pd.Series(w_names).str.strip()

['Harder, Mr. George Achilles', 'Wiklund, Mr. Jakob Alfred', 'Beavan, Mr. William Thomas', 'Ringhini, Mr. Sante', 'Palsson, Miss. Stina Viola']

In [44]:
def extract(string,feature):
    s_index = string.find(feature)
    if s_index == -1:
        return ""
    s_index += len(feature) + 1
    for index in range(s_index, len(string)):
        if string[index] == " ":
            return string[s_index:index].strip()

In [45]:
print(w_names.value_counts())

William      8
Anna         6
John         5
Margaret     5
Frederick    4
Helen        4
Elizabeth    3
Hanora       3
Thomas       3
Katherine    3
Henry        3
Ellen        3
Charles      3
Mary         3
Marion       2
George       2
Constance    2
Annie        2
Lillian      2
Alexander    2
Albert       2
Edward       2
James        2
Augusta      2
Marie        2
Frank        2
Alice        2
Jean         2
Ann          1
Julie        1
            ..
Aurora       1
Georgette    1
Nora         1
Anders       1
Oscar        1
Adele        1
Agda         1
Hedwig       1
Marjorie     1
Margit       1
Luise        1
Doolina      1
Mari         1
Telma        1
Hudson       1
Bridget      1
Jessie       1
Susan        1
Pekka        1
Clear        1
Madeleine    1
Carl         1
Samuel       1
Wendla       1
Amy          1
Stina        1
Peter        1
Ernest       1
Elisabeth    1
Edgar        1
Length: 119, dtype: int64